<% layout('layout')%>
<div class="content">

<h1>Github 筆記</h1>

<h2>什麼是github?</h2>

<a href="https://imgur.com/cYW8q73"><img src="https://i.imgur.com/cYW8q73.png" title="source: imgur.com" /></a>

<p>如圖所示將大家共同協作的的內容clone一分到自己的電腦中再用commit指令以及push指令將修改過後的檔案在更新的過程</p>


</div>
