<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>CaesarTeam</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <div class="wrapper">
  <header class="navbar u-cf">
    <div class="container">
      <div class="logo">
        <a href="/">
          <img src="https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.0-9/23517988_1283320695146435_5388130844337919591_n.png?_nc_fx=ftpe7-1&_nc_cat=0&oh=ca7e52a2e0480fc381b26b227dfe5c58&oe=5B61CB25" alt="">
        </a>
      </div>
      <ul class="menu">
        <li>
          <a href="/" class="current">Home</a>
        </li>
        <li>
          <a href="#">RChing</a>
        </li>
        <li>
          <a href="theowei">Theo Wei</a>
        </li>
        <li>
          <a href="#">Yu Chi</a>
        </li>
        <li>
          <a href="#">Hsieh</a>
        </li>
      </ul>
    </div>
  </header>
  <section class="main">
        <%- body%>
  </section>
  <footer>
    <div class="footer">
      <h4>Copytright@CaesarTeam</h4>
    </div>
  </footer>  
  
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

  

</body>

</html>
